body {
  background: #728EB2;
}

.autoexpand-textarea {
  display: block;
  box-sizing:  padding-box;
  overflow: hidden;
  padding: 10px;
  width: 250px;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 8px;
  border: 6px solid #556677;
}
